[2015-04-08 01:46] execat opened #16 "Meta: Here's a list of things that I think are hurting this open source project."
#1
#2
#3
#4
#5
#6
#7
#8
#9
#10
#11
#12
#13
#14
#15
#17
#18
#19
#20
#21
#22
#23
#24
#25
#26
#27
#28
#29
#30
#31
#32
#33
#34
#35
#36
#37
#38
#39
#40
#41
#42
#43
#44
#45
#46
#47
#48
#49
#50
#51
#52
#53
#54
#55
#56
#57
#58
#59
#60
#61
#62
#63
#64
#65
#66
#67
#68
#69
#70
#71
#72
#73
#74
#75
#76
#77
#78
#79
#80
#81
#82
#83
#84
#85
#86
#87
#88
#89
#90
#91
#92
#93
#94
#95
#96
#97
#98
#99
#100
#101
#102
#1

[2015-04-08 02:00] rrshaban commented on #16
I'd like to re-emphasize the danger of #16 -- this one could hurt the project for years to come.

[2015-04-08 02:03] uberscientist commented on #16
This project is run by little devils.

[2015-04-08 02:03] jackyliang opened #22 "Add a Vagrantfile"
Add a Vagrantfile because it is web scale and deployment machine will be the same as development

[2015-04-08 02:12] weswigham commented on #22
See #29 - a Dockerfile's like the same thing but better, amirite? (After all, Vagrant support docker!)

[2015-04-08 02:20] facto commented on #16
Respectfully request that #238 be left off of this list. I've found it invaluable in my journeys.

[2015-04-08 02:21] Vheissu commented on #22
Everyone knows that only MongoDB is web scale.

[2015-04-08 02:26] jackyliang commented on #22
@weswigham In all seriousness, Docker is better than Vagrant is that true?

[2015-04-08 02:26] joeatwork opened #42 "Feature request: accept pull requests that are not created or submitted"
This is an exciting project! I'd like to suggest a feature- while the project currently accepts all pull requests submitted, what about those pull requests that _aren't_ submitted? For example, there must be thousands of pull requests right now that won't ever be merged, simply because they're for other projects with disjoint commit histories?

If you wanted to get really ambitious, you could even

[2015-04-08 02:30] DanielHenneberger opened #43 "Feature request: be able to read mail"
Zawinski's law states we need it and it sounds serious so we should do it.

[2015-04-08 02:33] perceptec commented on #43
It is a law, after all. :thumbsup:

[2015-04-08 02:34] DanielHenneberger commented on #42
This should also apply to alternative realities where our alternative selves did submit pull requests. Additionally, there could be unrealized realities where our pull requests did get accepted but never materialized.

[2015-04-08 02:38] weswigham commented on #22
They don't (quite) serve the same purpose. Vagrant can configure environments, and so can docker - thing is, docker is made for configuring containers while vagrant configures virtual machines. [Vagrant actually supports using docker as a provider](http://docs.vagrantup.com/v2/docker/basics.html). Personally, I think the docker ecosystem ([dockerhub included](https://registry.hub.docker.com/search

[2015-04-08 02:40] GLolol commented on #42
Why limit ourselves to commits? We should be able to truly include **anything**, just like the repository name says! Physical objects, abstract ideas, everything known in the finite and infinite universes!

I would like to include the following as examples:
- A Jeep
- A dog
- Mount Everest
- Schroedinger's cat
- This repository itself.

[2015-04-08 02:53] colinmahns commented on #16
I would also like to request that #666 be left off this list as well. This pull request is beauty in code form, almost as if it's straight from djb himself.

Was this, perhaps, a typo? You might have meant to enter in #667, where I believe the requestor was coming down off of his three day PCP binge and decided to write that abomination of code in the mean time. Seriously, have you *looked* at #66

[2015-04-08 02:55] colinmahns opened #57 "Solve Zooko's Triangle"
This project has made no attempts to solve Zooko's triangle, someone get on this please.

[2015-04-08 03:05] SGrondin opened #66 "Not webscale enough"
add mongodb pls

[2015-04-08 03:26] EnotionZ opened #84 "need more maintainers"
there are too many pull requests and you're not merging them fast enough.

[2015-04-08 03:44] lmcd opened #94 "Feature request: add complete works of Shakespeare"

[2015-04-08 03:45] scott113341 commented on #84
+1

[2015-04-08 03:45] bithavoc opened #97 "Upgrade to organization"
Let's upgrade this repo to an open source organization, add everybody as owner.

[2015-04-08 03:45] bithavoc commented on #84
:+1:

[2015-04-08 03:59] GLolol commented on #97
:+1:

[2015-04-08 03:59] GLolol commented on #84
:+1:

[2015-04-08 03:59] choochootrain commented on #84
:+1:

[2015-04-08 04:04] execat commented on #16
@facto #238, IMO, has made no significant contributions to this project.
If anything, it is going to hurt this project. Hence added to the list.

@colinmahns Agreed. #667 is shit.
Yes. I meant #667.

[2015-04-08 04:17] ajvpot commented on #84
+2

[2015-04-08 04:18] execat commented on #16
EDIT: Adding the following issues:
#1001
#1002
#1003
#1004
#1005
#1006
#1007
#1008
#1009
#1010
#1011
#1012
#1013
#1014
#1015
#1016
#1017
#1018
#1019
#1020
#1021
#1022
#1023
#1024
#1025
#1026
#1027
#1028
#1029
#1030
#1031
#1032
#1033
#1034
#1035
#1036
#1037
#1038
#1039
#1040
#1041
#1042
#1043
#1044
#1045
#1046
#1047
#1048
#1049
#1050
#1051
#1052
#1053
#1054
#1055
#1056
#1057
#1058
#1059
#1060
#1061

[2015-04-08 04:19] #22 closed

[2015-04-08 04:23] hackling commented on #16
I'm very impressed with this issue.

[2015-04-08 04:29] huei90 commented on #16
Impressed. But why these are hurting the open source?

[2015-04-08 04:40] execat commented on #16
@huei90 Because this project was better without those issues/pull requests.

[2015-04-08 05:08] AKST opened #141 "needs more jquery"
We need more jquery

[2015-04-08 05:11] hackling commented on #16
I don't think he gets the joke. I do. Hence, I am impressed.

[2015-04-08 05:15] cgaudreau commented on #141
Brilliant. Can I hire you as a full-stack big data web engineer?

[2015-04-08 05:16] cgaudreau commented on #66
+1

[2015-04-08 05:17] MdNor opened #145 "Where do I thank Obama?"
Lack of this feature is an issue. Clearly this project is communist propaganda.

[2015-04-08 05:18] AKST commented on #141
Is there a jquery plugin for that?

[2015-04-08 05:20] lachlanmcdonald commented on #141
Mandatory "you can do it without jQuery" comment.

[2015-04-08 05:30] vhakulinen commented on #141
but...but my frameworks!

[2015-04-08 05:34] CptnBrittish commented on #141
We can use both frameworks and jQuery in the webapp which is developing in the pull request queue. First we need to change to a organization though so that we can develop this rapidly enough.

[2015-04-08 05:37] CptnBrittish commented on #97
+1

[2015-04-08 05:45] kaendfinger opened #155 "Needs more rubber ducks."
![Rubber Duck](http://tiny-giant-books.com/blog/wp-content/uploads/2013/09/rubber-duck.png)

[2015-04-08 05:47] micahlmartin commented on #66
And grunt/gulp for pete's sake!

[2015-04-08 05:50] insanity54 commented on #16
+1

[2015-04-08 06:08] etcinit commented on #97
LGTM

[2015-04-08 06:19] micahlmartin opened #184 "CI Server"
We are missing a critical step in our infrastructure. How can we continually ship this without a build process? I think we should debate the finer points of Jenkins vs Circle vs Travis here.

[2015-04-08 06:19] etcinit commented on #184
AcceptAllPullRequestsTest.java needs to pass

[2015-04-08 06:21] micahlmartin opened #185 "Scrum Master?"
Is there a kanban board somewhere? Trello? Pivotal Tracker? We desperately need to start tracking story points for our epics and update a burn down chart. Anyone?

[2015-04-08 06:46] interdrift commented on #66
needs jquery.

[2015-04-08 07:04] KrisSiegel commented on #16
THE SCROLLING! WON'T SOMEONE THINK OF THE SCROLLING!

We should have an issue for each issue and pull request that is going to hurt this project.

[2015-04-08 07:07] huei90 commented on #16
@execat Do you mean that this project should open for public to edit?
There's no need waiting for PR?

[2015-04-08 07:36] huei90 opened #220 "Vote your Color - https://github.com/huei90/Vote.Colors"
blablablbblaa

Voting your color by Commit!

https://github.com/huei90/Vote.Colors

Thanks a lot.

[2015-04-08 07:39] recurrence commented on #84
:+1:

[2015-04-08 07:50] huei90 commented on #66
angularjs is crying.

[2015-04-08 08:18] kindraywind opened #243 "Project management tool?"
I suggest using this -> https://waffle.io/

[2015-04-08 08:35] codepodu commented on #97
The largest github organization ever!

[2015-04-08 08:42] vircung commented on #16
#16 Really hurts this one :+1:

[2015-04-08 08:44] execat commented on #16
@vircung @rrshaban Fixed.

[2015-04-08 08:58] robbyoconnor opened #255 "name a release after the amazing RMS"

[2015-04-08 08:59] karlingen commented on #243
Free commercial is free.

[2015-04-08 09:06] zackp30 commented on #155
We should also consider #258. Frogs are important.

[2015-04-08 09:16] robbyoconnor commented on #16
#420 <3

[2015-04-08 09:45] evictor commented on #16
It's true -- why the need for PRs? Should just be able to edit at will. Then the likelihood increases of a sentient being emerging from the aimless "contributions" of thousands of insomniac neckbeards such as myself, which I'm sure is what we all want from this project.

[2015-04-08 10:39] rtutin commented on #145
It's no good?

[2015-04-08 11:02] emirozer opened #314 "add some ai & emacs"
push some intelligence and emacs to the repo so the project itself will be able to write code

[2015-04-08 12:04] ProgVal opened #346 "#208 introduces invalid test"
The content of https://api.github.com/repos/mrkrstphr/illacceptanything/pulls?state=open should be parsed with a JSON parser and then compared with an empty list, instead of just being string-compared to `'[]'`

[2015-04-08 12:05] ProgVal commented on #346
Same for the Java test case, actually.

[2015-04-08 12:06] ProgVal commented on #346
See #345 for a valid implementation.

[2015-04-08 12:17] ChrysC opened #352 "How do I Internet Explorer?"
It's not working :(.

[2015-04-08 12:32] mrkrstphr opened #360 "Someone please implement!!"
Someone please utilize this in the gh-pages branch. kthx:

http://code.divshot.com/geo-bootstrap/

[2015-04-08 12:34] #141 closed

[2015-04-08 12:52] mrkrstphr opened #363 "We need Travis integration"

[2015-04-08 13:12] austinsmorris commented on #97
:shipit:

[2015-04-08 13:12] #97 closed

[2015-04-08 13:13] QamarWaqar commented on #363
Agreed.

[2015-04-08 13:18] QamarWaqar commented on #97
Agreed.

[2015-04-08 13:18] rikas commented on #363
+1

[2015-04-08 13:23] ValkyrieUK commented on #363
:+1:

[2015-04-08 13:24] ProgVal opened #384 "Get the the “trending” page"
Still not [here](https://github.com/trending)?

[2015-04-08 13:25] ProgVal commented on #363
Duplicate of #184

[2015-04-08 13:25] ProgVal commented on #84
:+1:

[2015-04-08 13:26] #363 closed

[2015-04-08 13:27] ProgVal commented on #360
Duplicate of #352

[2015-04-08 13:55] robotnoises opened #402 "Issue #16 is starting to get really long"
https://github.com/illacceptanything/illacceptanything/issues/16

Any way we can break this out into sub-issues?

[2015-04-08 14:02] ProgVal commented on #16
Without PRs people it would be much harder to enforce the contribution rules

[2015-04-08 14:03] vthriller opened #407 "rewrite @pp.j$ using ghcjs"

[2015-04-08 14:41] mattseymour opened #425 "Not enough gif and cat images in readme"
There seems a definite lack of gif images and pictures of cats in the readme I would propose adding more.

[2015-04-08 14:58] relistan opened #433 "Too Much Awesome"
I'm finding too much awesome in this repo. I fear it will hurt the long term ability of others to contribute to the project.

[2015-04-08 15:05] huei90 commented on #16
I agree what @ProgVal said.

[2015-04-08 15:31] aimanbaharum commented on #16
So what's not hurting this project? :cry:

[2015-04-08 15:31] huei90 commented on #255
what is RMS

[2015-04-08 15:34] GLolol commented on #255
I will do this when the project is finalized sometime in 2059.

[2015-04-08 16:26] alpha14 commented on #84
:thumbsup:

[2015-04-08 16:31] #16 closed

[2015-04-08 17:16] GLolol commented on #433
Unfortunately this is not something that can be fixed in the long term.

[2015-04-08 17:18] GLolol commented on #94
#332.

[2015-04-08 17:18] #94 closed

[2015-04-08 18:32] bananastalktome opened #483 "Load up 'Celery Man' please."

[2015-04-08 18:41] Heather commented on #84
:+1:

[2015-04-08 18:44] gnudle opened #484 "Is there a roadmap for the project?"

[2015-04-08 18:45] gnudle opened #485 "Need Google Summer of Code Interns"
https://developers.google.com/open-source/soc/?csw=1

[2015-04-08 18:48] ashelly commented on #255
RMS is a statistical measure defined as the square root of the mean of the squares of a sample.  It campaigns for software to be distributed in a manner such that its users receive the freedoms to use, study, distribute and modify that software. During the 1999-00 school year, RMS was recognized with the Blue Ribbon School Award of Excellence by the United States Department of Education.  In addit

[2015-04-08 18:59] simoncarrignon commented on #433
to fix awesomeness is a real issue I agree

[2015-04-08 19:00] hotpro opened #490 "A little bit messy, should be organized by language and tag"

[2015-04-08 19:41] QamarWaqar opened #494 "Virus"
Can't clone the repository because of virus.txt and 2 other similar files, please fix asap. Thnx. <3

[2015-04-08 21:40] pythoneer commented on #494
Why?

[2015-04-08 21:55] nickdesaulniers opened #509 "mozilla-central"
I'm dissapointed to see no one has tried to check in [mozilla-centrall-git](https://github.com/mozilla/gecko-dev) (Firefox), yet.

[2015-04-08 22:14] popey456963 opened #510 "402 Too Short"
I think we need to expand on the points made in issue #402

It
is
essential
that
we
are
verbose

If
we
are
to
survive.

[2015-04-08 22:25] popey456963 opened #511 "Accepting Pulls"
There are currently 225 pulls open at the moment.

https://github.com/illacceptanything/illacceptanything/pulls

Do you need some help closing them?

[2015-04-08 22:47] GLolol opened #513 "There should be a rule against blatant self-advertising and malicious code submissions"
ditto title. @mrkrstphr

[2015-04-08 23:02] douglasmiranda opened #514 "Create a tmp directory"
I need a directory to put some temporary things.

[2015-04-08 23:10] GLolol commented on #511
#84, for your reference.

[2015-04-08 23:10] #511 closed

[2015-04-08 23:13] #494 closed

[2015-04-08 23:13] #514 closed

[2015-04-08 23:15] #402 closed

[2015-04-08 23:15] #510 closed

[2015-04-08 23:23] #352 closed

[2015-04-08 23:52] micahlmartin commented on #513
That should be covered by `don't be a dick`.

[2015-04-08 23:54] micahlmartin opened #522 "SOA Needed"
We need more micro services.

[2015-04-09 00:12] #220 closed

[2015-04-09 00:21] #433 closed

[2015-04-09 00:25] GLolol commented on #384
[We made it, woo!](https://github.com/trending) - Wed Apr  8 17:24:58 PDT 2015

[2015-04-09 01:51] CptnBrittish opened #532 "No init system"
We currently have the linux kernel within this project which is taking care of our lower level systems but we have no way of actually starting any of our other work.
To solve this I propose we debate the merits of sysVinit and systemD before we actually make this big decision

[2015-04-09 02:25] Wartz commented on #532
vi > emacs

[2015-04-09 03:25] KelseyDH opened #537 "semantic versioning needed"
I'm having problems with upgrading my company's legacy illacceptanything.  I think because somebody introduced breaking API changes without updating the documentation.

Please add semantic versioning so that we can have more stable release cycles.

[2015-04-09 03:26] bithavoc commented on #537
totally.

[2015-04-09 03:34] KelseyDH commented on #522
Agreed, in its current state it's not enterprise-ready.

[2015-04-09 03:36] bithavoc commented on #522
SOA Services = Big :hankey:
Micro Services = :hankey: + :hankey: + :hankey: + :hankey:

[2015-04-09 03:36] bithavoc commented on #522
need PR for this.

[2015-04-09 03:41] #255 closed

[2015-04-09 03:41] #537 closed

[2015-04-09 04:04] GLolol commented on #494
It's actually the `\`file that was causing checkout problems. That and the monstrous repo size, maybe.

[2015-04-09 04:20] #184 closed

[2015-04-09 04:43] micahlmartin opened #553 "Changelog needed"
We should setup a regular release schedule and make a changelog.

[2015-04-09 04:58] ProgVal commented on #384
Still not in first position [here](https://github.com/trending?since=weekly)?

[2015-04-09 05:00] GLolol commented on #384
It hasn't been a week yet.

[2015-04-09 05:47] ProgVal commented on #384
So what? It's possible to be at the top without waiting for the end of the week.

[2015-04-09 06:12] QamarWaqar opened #555 "Branch Size Problems."
Master branch is so huge in size, new devs might be having problems to contribute when some have bandwidth caps. Should have more branches smaller in size. Please comment.
Master branch is is so huge?

[2015-04-09 07:18] KelseyDH commented on #537
:clap:

[2015-04-09 07:24] KelseyDH opened #559 "Issue #402 is making an issue of issue #16"
Issue #402  is making an issue of issue #16

Of this, I take issue.

[2015-04-09 07:41] QamarWaqar commented on #555
Can some one please delete 3 folders in the repository with @ symbol in their name, they add the whole repository in them again and again and hence never ending downloading of the repository, Please fix this asap. Thanx.

[2015-04-09 07:59] KelseyDH opened #561 "what popular features should we deprecate"

[2015-04-09 09:58] hhirsch opened #565 "Burning robot lion needed"
Picture of a burning robot lion is needed in the readme.

[2015-04-09 09:59] hhirsch opened #566 "Where is the Website"
Is anything.github.io free?

[2015-04-09 10:08] mclarke47 commented on #565
+1

[2015-04-09 10:54] kindraywind commented on #84
:+1:

[2015-04-09 12:45] hhirsch commented on #145
When #566 is fixed, we can thank Obama on the new Website.

[2015-04-09 12:47] isseu commented on #565
+1

[2015-04-09 13:01] jgoewert commented on #532
Lets ditch sysVinit and systemD and make a new kernel using Visual Basic or Logo

[2015-04-09 13:20] mtimofiiv commented on #425
https://github.com/illacceptanything/illacceptanything/pull/573 << added some of that here

[2015-04-09 14:33] simoncarrignon opened #580 "Crowdfunding"
We should launch a crowdfunding campaign to hire someone who will check every lines of code.

[2015-04-09 14:43] timmc commented on #532
I was actually thinking we should make this *part* of systemd.

[2015-04-09 15:30] simoncarrignon commented on #565
an octopus could be good also

[2015-04-09 15:31] simoncarrignon commented on #513
I think the @micahlmartin solution fix this issues well.

[2015-04-09 15:37] #513 closed

[2015-04-09 15:43] #425 closed

[2015-04-09 16:45] pndpo opened #585 "build failing"
It looks like the build is falling... I checked the last commit and I'm just baffled: everything *looks* fine.

[2015-04-09 16:53] mikp opened #586 "Fix Manu's issue"
hehe :-)

[2015-04-09 18:03] gunthercox commented on #565
+1

[2015-04-09 18:49] jgoewert opened #590 "Not enough Google Cloud integration"
We need a synergised strategic projection for cross-functional digital contingencies to leverage our core compentencies into a logistical win-win-win for global web cart abandonment.

[2015-04-09 18:53] GLolol commented on #555
Those are submodules, only cloned if you initialize them.

[2015-04-09 18:59] mschultheiss opened #591 "BMP HDMI Compiler missing USB port"
Please recompile the Bitmap HDMI Compiler with using gcc or the keberos protocol. For security reasons i also suggest to add an usb port to the /src directory. Furthermore the Apple warranty of this github repository has expired so you should update this one as well

[2015-04-09 19:05] mikp commented on #561
All!

[2015-04-09 19:06] mikp commented on #561
The cat photos!

[2015-04-09 19:12] GLolol commented on #555
The biggest folders are `illacceptanything` (1.1G) and `linux` (648M), FYI.

[2015-04-09 19:22] mikp commented on #591
Also, the doctor claims that he hasn't seen the animals for a long time and they look sick. So there should be a logbook to reject that.

[2015-04-09 20:29] recurrence commented on #16
Don't worry guys I already fixed this one :)

[2015-04-09 21:04] djheru commented on #16
I would respectfully request that a separate issue be opened for each PR listed above.

[2015-04-09 21:22] mrkrstphr commented on #566
https://illacceptanything.github.io/

Do I always have to pull weight for you, @hhirsch?

[2015-04-09 21:22] #566 closed

[2015-04-09 21:26] #559 closed

[2015-04-09 21:28] kevin-cantwell commented on #16
@KrisSiegel I can help you with the scrolling issue: http://theonion.github.io/fartscroll.js/

[2015-04-09 21:32] GLolol commented on #561
This one

[2015-04-09 21:41] #590 closed

[2015-04-09 21:55] QamarWaqar opened #594 "FIX @ Folders"
They are including the repository in it itself and thus never ending downloads, please fix. ty.

[2015-04-09 22:03] eliothxchan opened #595 "what is on sale at the nearby nofrill's"
halp i am not good with compooter

[2015-04-09 22:31] andrewjtimmons opened #597 "Can you please create a digital copy of me in this repo"
I fear death and I want to last forever

[2015-04-09 23:29] isaquefontinele commented on #84
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-04-09 23:40] aridere commented on #84
++++

[2015-04-10 01:39] GLolol commented on #555
Closed by #604.

[2015-04-10 01:39] #555 closed

[2015-04-10 01:44] KevinNorth opened #605 "Serious issue: Please do *not* accept commits with extremely large files"
This is a serious issue. I have an actual concern I'd like to address.

I'm having a lot of fun with this repo! When I cloned it onto my own machine, though, it took about 15 minutes to clone. Looking through the repo, I noticed that about 1.5 GB of content was coming from just two top-level directories. One looked like a 1GB iOS app that included several 100+MB images, and the second looks like a

[2015-04-10 01:45] KevinNorth commented on #605
See https://github.com/illacceptanything/illacceptanything/issues/555

[2015-04-10 01:56] GLolol commented on #605
I have to agree.

[2015-04-10 01:56] GLolol commented on #595
Hello yes they seem to be selling frills today. It's half price!

[2015-04-10 01:56] #595 closed

[2015-04-10 05:00] jmitchell commented on #185
+1

Not volunteering or anything, but it's clearly necessary.

[2015-04-10 06:05] hhirsch commented on #565
@simoncarrignon The octopus could ride the lion.
:+1:

[2015-04-10 06:12] hhirsch commented on #605
Serious projects should take a long time to clone. Where else should we put the ios app?

[2015-04-10 06:14] hhirsch opened #609 "Serious Issue: Please take 100% serious. Make all target"
The makefile needs a target to make everything. It should also make the computer go beep. :+1: :v:

[2015-04-10 06:15] hhirsch commented on #609
Sorry. Forgot to reference issues. So here you go.
Todays winners are:
#608 #2 #607

[2015-04-10 06:17] hhirsch commented on #609
Needs more cowbell? How awesome are you issue #608? A lot.

[2015-04-10 06:23] hhirsch commented on #483
What is a celery man?

[2015-04-10 06:28] liamgriffiths commented on #609
:bell: :smiley:

[2015-04-10 06:30] hhirsch commented on #565
Anybody with a deviantartaccount that can help out by finding an artist? You can pay him in Lama badges or something like that.

[2015-04-10 06:43] EnotionZ opened #611 "Serious feature/idea - lets gamify this"
There was a project I read about a while ago that used minecraft to toy with some existential ideas. It was minecraft as you know it, except with the following rules:

* people sign up for a survival mode game (no flying, no invincibility)
* there can ever only be one player at a time
* after a person dies, the next person spawns in their place

I don't actually know the outcome of that experiment

[2015-04-10 07:46] kethinov opened #613 "My repo is better than yours"
You'll accept anything, but I accept nothing. [I have standards](https://github.com/kethinov/FuckYourPullRequests)!

[2015-04-10 07:54] CptnBrittish commented on #611
Its a cool idea but it would morph this project away from its original intentions. I would like to see someone try this idea though as a different project.
We could possibly set this up on a different project within this orginization?

[2015-04-10 07:56] CptnBrittish commented on #532
Maybe we make a super-systemD which takes all the control away from systemD and make them use our own api calls instead of the kernels?

[2015-04-10 08:17] haaakon opened #615 "No support for Apple Watch"
This project has no extension for cool new Apple Watch. I want this repo to support it.
Please fix asap

[2015-04-10 09:23] cybrox commented on #615
Here you go :watch: :cocktail:

[2015-04-10 10:47] NitroXenon commented on #84
:+1

[2015-04-10 12:16] bananastalktome commented on #483
https://www.youtube.com/watch?v=MHWBEK8w_YY

[2015-04-10 13:05] #615 closed

[2015-04-10 13:08] #43 closed

[2015-04-10 13:08] MiLk commented on #57
Feel free to submit a PR for that.

[2015-04-10 13:08] #57 closed

[2015-04-10 13:09] MiLk commented on #66
That's outside the scope of this project.

[2015-04-10 13:09] #66 closed

[2015-04-10 13:10] MiLk commented on #145
Feel free to submit a PR.

[2015-04-10 13:10] #145 closed

[2015-04-10 13:10] haaakon commented on #615
Thanks, now i can finally get some use out of this open source project

[2015-04-10 13:10] #155 closed

[2015-04-10 13:11] MiLk commented on #314
Use vim.

[2015-04-10 13:11] #314 closed

[2015-04-10 13:12] #346 closed

[2015-04-10 13:12] MiLk commented on #360
https://github.com/illacceptanything/illacceptanything.github.io/pulls

[2015-04-10 13:12] #360 closed

[2015-04-10 13:13] MiLk commented on #384
![2015-04-10-221259_1060x796_scrot](https://cloud.githubusercontent.com/assets/29782/7088478/d13120fc-dfce-11e4-810d-57c37f518399.png)
![2015-04-10-221321_1032x905_scrot](https://cloud.githubusercontent.com/assets/29782/7088479/d13564e6-dfce-11e4-9650-2c8d80de7501.png)

[2015-04-10 13:13] #384 closed

[2015-04-10 13:13] #407 closed

[2015-04-10 13:14] MiLk commented on #483
Feel free to open a PR.

[2015-04-10 13:14] #483 closed

[2015-04-10 13:15] MiLk commented on #509
PR are always welcome!

[2015-04-10 13:15] #509 closed

[2015-04-10 13:17] MiLk commented on #561
As your issue doesn't provide enough details, I close it.
Feel free to reopen with more details.

[2015-04-10 13:17] #561 closed

[2015-04-10 13:18] MiLk commented on #585
https://travis-ci.org/illacceptanything/illacceptanything

[2015-04-10 13:18] #585 closed

[2015-04-10 13:19] #586 closed

[2015-04-10 13:21] MiLk commented on #597
Unfortunately the technologies doesn't allow us to do it yet.
I close the issue, but feel free to reopen it when it will become possible.

[2015-04-10 13:21] #597 closed

[2015-04-10 13:22] MiLk commented on #609
Please open a PR!

[2015-04-10 13:22] #609 closed

[2015-04-10 13:25] MiLk commented on #611
:+1: for a different repo.

[2015-04-10 13:25] #613 closed

[2015-04-10 13:26] MiLk commented on #84
We should be ok for a while.

[2015-04-10 13:27] MiLk commented on #185
Maybe #243

[2015-04-10 13:29] MiLk commented on #553
:+1: for the release schedule.
But for the changelog, I think it will be hard.

[2015-04-10 13:32] MiLk commented on #605
https://help.github.com/articles/conditions-for-large-files/

[2015-04-10 13:57] CodedBeardedSignedTaylor commented on #16
I'm glad this was brought to my attention.

[2015-04-10 14:43] #84 closed

[2015-04-10 14:45] GLolol commented on #605
@hhirsch Submodule.

[2015-04-10 14:50] ProgVal commented on #605
Could someone rewrite history to remove those huge files?

[2015-04-10 14:55] GLolol commented on #605
@ProgVal I've tried, but it ends up freezing my CPU for way too long.

[2015-04-10 15:11] #594 closed

[2015-04-10 15:28] GLolol commented on #605
I am going to rewrite the history very soon, replacing it with an initial commit.

Removed folders: `bbb/ linux/ data/random-data`

[2015-04-10 15:42] GLolol commented on #605
The repository has been rebased.

[2015-04-10 15:56] MiLk commented on #605
:/

[2015-04-10 16:00] GLolol commented on #605
@MiLk I don't like deleting content either, but the repo size really needs a limit. I can't even run `git pull` efficiently sometimes without the CPU spiking super high. A `git clone` feels like it'd take days to complete.

[2015-04-10 19:00] KevinNorth commented on #605
Thanks for taking care of this issue! :smiley:

[2015-04-10 23:47] CptnBrittish commented on #611
I am now wondering if there is some way we can modify [botwillacceptanything](https://github.com/botwillacceptanything/botwillacceptanything) so that it is in control of the repository for this game and will only grant write access to people this means that the project will not need to rely on people remembering to pass on access to the repository to the next person as it would be done automatical

[2015-04-11 00:01] #490 closed

[2015-04-11 01:31] MiLk commented on #605
Next time: https://help.github.com/articles/remove-sensitive-data/
It's possible to remove large files without loosing the history.

[2015-04-11 01:36] initbar commented on #605
:+1:

[2015-04-11 01:54] GLolol commented on #605
@MiLk There were literally 90000 commits or whatever for filter-branch to go through. Which would have taken forever to complete...

[2015-04-11 04:03] hotpro commented on #490
awesome

[2015-04-11 05:07] MiLk commented on #605
https://github.com/illacceptanything/illacceptanything/tree/rewrite

[2015-04-11 05:08] GLolol commented on #605
:+1:

How long did it take?

[2015-04-11 05:38] MiLk commented on #605
~2~3 hours

[2015-04-11 05:44] #553 closed

[2015-04-11 06:16] QamarWaqar opened #639 "Seriously?!"
I Please delete the self @ and other with @ sign files, they add the repository in it it self and thus forever download, I can't download and contribute. Pls help.

[2015-04-11 06:24] #639 closed

[2015-04-11 06:51] egeozcan commented on #565
did anyone decide on the nationality of the lion? a stateless burning robot lion wouldn't be that interesting

[2015-04-11 07:35] joshhartigan commented on #16
![why you heff to be mad?](http://i.imgur.com/tVxoxk7.gif)

[2015-04-11 08:11] ProgVal commented on #639
What git client do you use? git shouldn't initialize submodules by default

[2015-04-11 09:12] waitingkuo opened #640 "What if i `git rm * -r`?"
Will it be accepted?

[2015-04-11 09:59] ProgVal commented on #640
No. https://github.com/illacceptanything/illacceptanything#illacceptanything

[2015-04-11 09:59] #640 closed

[2015-04-11 12:51] MiLk commented on #605
I will try to cherry pick everything which has been made since the end of my rewritten branch.
If I manage to cherry-pick everything we will be able to swap the master branch.

[2015-04-11 13:57] MiLk commented on #605
@illacceptanything/owners I would like to start a vote to replace the current master by https://github.com/illacceptanything/illacceptanything/commits/rewrite
The history has been kept, we shouldn't have lost anything.

The vote will end in 12 hours. (2am UTC / 11am JST / 7pm PDT)
A majority is required to make the replacement.

Until the end of the vote, please don't merge anything.

[2015-04-11 15:01] hiiru commented on #605
@MiLk I didn't see this issue before, so I merged a minor change a few minutes ago... (only readme was affected) - I won't merge anything else till the end of the vote

:+1: I agree with the rewrite, seems fine.

[2015-04-11 15:05] dbalatero commented on #605
Sounds good to me

On Sat, Apr 11, 2015 at 8:01 AM, hiiru <notifications@github.com> wrote:

[2015-04-11 15:55] ProgVal opened #645 "Develop our own VCS"
Git clearly isn't suitable for a serious large projet like this one.

[2015-04-11 16:35] GLolol commented on #605
Would a squash merge do it? I don't really care, honestly.

[2015-04-11 16:36] dbalatero commented on #605
I'll Accept Anything :tm:

On Sat, Apr 11, 2015 at 9:35 AM, James Lu <notifications@github.com>
wrote:

[2015-04-11 16:38] GLolol commented on #605
:+1: Go ahead and do it!

[2015-04-11 16:41] MapleWorld commented on #605
Lol, totally agree, toke forever to clone. First time contributing to open source project don't know how it works, cloned like 15 times, went way over my internet bandwidth.

[2015-04-11 16:42] initbar commented on #605
I'll check right now which directory/file is the worst offender.

[2015-04-11 16:51] initbar commented on #605
Lol just had a funny idea: change this repo to `illdenyeverything`.

[2015-04-11 16:52] GLolol commented on #605
@initbar no

[2015-04-11 17:22] initbar commented on #605
suggestion: can we devote `data` to contain type files and ask to link them instead of a fragmented distribution (unless the latter is the target philosophy of this repo)?

For example, we can have:

[code]

And when someone needs to use `random_stuff.js`, they just link them.

[2015-04-11 17:32] mclarke47 commented on #565
In memory of the Barbary Lion. How about Moroccan/Algerian ?

[2015-04-11 18:38] gnurag commented on #605
+1

[2015-04-11 19:12] GLolol commented on #605
Most of the stuff in `data/`  is just random junk people uploaded, lol

[2015-04-11 19:14] ProgVal commented on #605
but you deleted the most random of them :(

[2015-04-11 20:15] GLolol commented on #645
We should use a public FTP server!

[2015-04-11 22:16] initbar commented on #605
I could do a massive organization pretty easily: should I do the cleanup and make a pull request (I promise not to delete anything)?

[2015-04-12 01:19] MiLk commented on #605
Done.

@initbar Please open a PR.

[2015-04-12 01:19] #605 closed

[2015-04-12 04:11] GLolol opened #651 "Add a Makefile that compiles all .c / .cpp files, etc in code/"
There's a lot of cool stuff in this repository, and *making* the *Make*file compile all the compilable things in `code/` would *make* playing with them a lot easier!

Puns very much intended - sue me.

[2015-04-12 04:12] GLolol commented on #605
I don't really think more sorting is needed atm... Either way, don't prefix the directory names with a `.` for the extension; that makes them hidden by default, which can be confusing.

[2015-04-12 05:03] GLolol commented on #651
Duplicate of #609 it seems. I feel like this should be closed, however, only *after* the feature is complete.

[2015-04-12 17:41] initbar opened #655 "Filetype organization into `data` folder."
Files inside `data` folder will be organized into their respective type (#605). This is a placeholder ticket as requested by @MiLk.

[2015-04-13 03:45] KelseyDH commented on #561
We should probably add a deprecation warning before we deprecate my call for deprecations.

[2015-04-14 18:31] mikp commented on #591
Wasss hierrr losss?

[2015-04-15 22:19] synth3tk commented on #185
+1

[2015-04-16 19:52] initbar commented on #655
Request for merge #674.

[2015-04-16 21:04] initbar commented on #655
@GLolol : requesting for merge #675.

[2015-04-16 22:48] GLolol commented on #655
Closed by #675.

[2015-04-16 22:48] #655 closed

[2015-04-18 20:55] GLolol commented on #645
https://github.com/blog/1986-announcing-git-large-file-storage-lfs sounds interesting to me

[2015-04-19 19:39] ProgVal opened #681 "Become the successor of Unicode"

[2015-04-19 20:47] ProgVal commented on #651
Closed by #682.

[2015-04-19 20:47] #651 closed

[2015-04-20 07:00] underscorejho commented on #611
Did anyone ever set up a new repo for this?

[2015-04-29 00:20] GLolol commented on #484
Yes. We're going that way in fact: `<-->`

[2015-05-25 19:46] wazery commented on #485
I would write a proposal for you, wait for it :smiley:

[2015-07-21 01:27] GitHubGeek commented on #16
PR #3001 and onward are fine. Guys keep pushing code! :shipit:

[2015-07-21 02:46] robbyoconnor commented on #16
![image](https://cloud.githubusercontent.com/assets/23088/8792092/2e94136a-2f31-11e5-838a-99e33304c11d.png)

[2015-07-30 19:30] yegortimoshenko commented on #645
Whatever you need is called `csv(1)`. It can checkout separate folders instead of a whole project.

[2015-08-19 11:05] ProgVal opened #711 "Add all memes of the Internet"

[2015-08-19 14:28] GLolol commented on #711
dank meme

[2015-08-27 04:10] seyfer commented on #16
Why last numbers without links ?)

[2015-08-27 07:40] ProgVal commented on #16
Because they are not created yet

[2015-08-27 09:14] huei90 commented on #16
@seyfer Nice :+1:

[2015-08-27 15:06] CodedBeardedSignedTaylor commented on #16
Stop asking us to fix your problems.

[2015-09-05 09:20] seyfer commented on #605
It's still sooo big...

[2015-11-11 20:26] GLolol commented on #711
I think #709 and all the other README PRs satisfy this.

[2015-11-11 21:48] ProgVal commented on #711
That's not enough

[2015-11-22 21:43] karlingen opened #734 "Needs more attention"
I'm thinking of using this in my private NSA app.
Is this still maintained?

[2015-11-22 21:44] ProgVal commented on #734
yes

[2015-11-22 21:51] GLolol commented on #734
yes

[2015-12-06 00:57] devoxel commented on #580
I'll do it, but I happen to like all code.**$35/h**

[2015-12-06 03:19] #734 closed

[2015-12-13 06:55] GLolol commented on #532
does something like the following work:

[code]

[2015-12-13 06:55] GLolol commented on #591
i don't understand the question

[2015-12-13 08:13] CptnBrittish commented on #532
I say we use Emacs as our init system as it cokes with the whole kitchen
sink. When systemD manages to have its own web browser we can then discus
using systemD instead
On 13 Dec 2015 5:55 pm, "James Lu" <notifications@github.com> wrote:

[2016-03-02 02:01] #565 closed

[2016-03-02 02:03] GLolol commented on #711
These look like some interesting candidates:

https://github.com/drbrain/meme
https://github.com/voxmedia/meme
https://github.com/leeper/meme
https://github.com/jacebrowning/memegen

[2016-03-10 20:44] davidkirwan commented on #484
Good work folks, the plan is clear.

[2016-03-11 00:16] #484 closed

[2016-04-21 21:43] RatulGhosh opened #746 "Please add me to the "illacceptanything""
Thanking you in anticipation.

[2016-04-23 15:35] #746 closed

[2016-07-11 20:04] openfly commented on #532
I think the better idea here may be to directly integrate with /etc/rc

[2016-07-11 20:09] Alex-Linhares opened #760 "How do you play pac-man with this thing?"
Please post detailed instructions for once.

[2016-07-11 20:54] GLolol commented on #42
This is equivalent to running `git merge` on various sources. Does anyone have some good candidates?

[2016-07-11 23:44] GLolol commented on #760
Feel free to PR a pacman game that isn't too large. Submodules work too.

[2016-08-01 17:55] avelardi opened #776 "Currently not webcale"
Without a NoSQL backend, I'm not seeing a clear or easy way to make this project webscale. I see the MySQL connector exposed, but that doesn't offer proper sharding or performance increases when scaled. At the rate this project is gathering momentum, I fear we will hit the theoretical limits of the backend. Redis/MongoDB is the clear solution to all of these issues. A quick comparison will show we

[2016-09-29 14:26] JonnoFTW opened #778 "There is no Hacktoberfest issue tag"
Please create the tag so we can submit issues with the tag and win a free t-shirt:

https://hacktoberfest.digitalocean.com/

[2016-10-28 10:49] aalind0 commented on #778
#778 Create your own label tag while making a pull request. After te tag is created it will automatically be added into your hacktoberfest contributions.

[https://hacktoberfestchecker.herokuapp.com/](url)

[2016-10-28 13:58] GLolol commented on #778
Done.

[2016-10-28 13:58] #778 closed

[2016-10-31 16:28] ProgVal commented on #485
@wazery Any news?

[2017-01-23 17:09] Bshally opened #810 "Explicitly accept all robots"
Allow all robots through the use of a robots.txt file. Submitted PR #807 .

[2017-01-23 20:53] ProgVal commented on #810
Closed by PR

[2017-01-23 20:53] #810 closed

[2017-01-24 02:13] #42 closed

[2017-05-26 05:28] ProgVal commented on #645
https://blogs.msdn.microsoft.com/visualstudioalm/2017/02/03/announcing-gvfs-git-virtual-file-system/

[2017-07-09 18:21] FlipEnergy opened #833 "You need to construct additional pylons."
There's just not enough.

[2017-07-09 18:50] ProgVal commented on #833
Agreed.

[2017-07-11 19:23] johnsliao commented on #833
Agree

[2017-07-16 16:22] rohithasrk commented on #485
Interested!

[2017-07-16 16:22] rohithasrk commented on #485
@uttu357 @ketanhwr @hareshkh

[2017-09-30 02:12] phpstudyOne opened #845 "这真是一个神奇的项目"
有人能看懂中文么?

[2017-09-30 06:09] ProgVal commented on #845
我可以使用谷歌翻译。

[2017-10-12 03:52] Tiseno commented on #833
Agreed, see #852

[2017-10-12 20:55] #833 closed

[2017-10-15 19:58] #845 closed

[2017-11-15 00:39] Agarian opened #884 "Add the bee move script to README.md"
Title.

[2017-11-15 01:18] Agarian commented on #884
NVM already did.

[2017-11-15 01:18] #884 closed

[2017-11-18 00:16] ProgVal opened #888 "Fix security issue"
![capture d ecran_2017-11-18_01-15-51](https://user-images.githubusercontent.com/406946/32974412-1f20305a-cbfe-11e7-80eb-4b2677a75d3b.png)

[2017-12-13 14:21] #888 closed

[2018-07-26 07:33] denysvitali opened #909 "Dockerfile is missing"
I still can't believe that such a big project doesn't have its own Dockerfile.

If it ain't containerized, it isn't worth to be tried.

[2018-07-26 07:40] #909 closed

[2018-08-18 03:11] dharness opened #916 "Concerned may become webscale"
According to #776 it sounds like this project may go webscale?! We need to avoid that...
Of all the scales we could go I think webscale is the least appropriate and we should cautiously select an alternative. Here are some suggestions:

- timescale
- limescale
- Richter scale
- fish scale

[2018-09-26 18:25] mathiashls opened #918 "Missing .DS_Store file"
We need a `.DS_Store` file to show that the project have elite developers with expensive macs.

[2019-06-13 03:51] jchristn opened #939 "Why won't this compile!"
I can't seem to get this compile HALP

[2019-06-24 04:08] #939 closed

[2019-07-21 18:32] Quadrillion-dev commented on #580
updated: <2019-05-21.

[2019-09-27 12:52] JordyValentine commented on #918
We have to be careful to keep the project cross platform, adding a `.DS_Store` file may cause some older Windows PC's to spontaneously combust.

[2019-10-07 10:29] hacktoberfest-team opened #988 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thanks for your interest in Hacktoberfest and helping others learn how to make their first contributions to open source!

That said, high-quality contributions are part of the [the core values of Hacktoberfest](https://hacktoberfest.digitalocean.com/details), so we kindly ask that you do not create repositories which allow users to quickly gain a PR toward completing the challenge.

We

[2019-10-07 11:36] ProgVal commented on #988
Hello,

Thank you for your interest in illacceptanything and helping others learn how to make their first contributions to open source!

That said, funny contributions are part of the the core values of illacceptanything; and every october this repo gets a spam of trivial pull-requests from people who want to get a free t-shirt.
So we kindly asked you (see email titled `Low-effort PRs to the "illa

[2019-10-08 01:29] jlu5 commented on #988
@hacktoberfest-team @digitalocean In all seriousness this repo was designed as a social experiment, and not at all with Hacktoberfest in mind. Please don't blame us for people wanting to game the system to begin with - we're just as disappointed by the spam as you are.

[2019-10-08 01:29] #988 closed

[2020-09-30 08:59] hacktoberfest-team opened #1007 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2020-09-30 09:03] ProgVal commented on #1007
Hello,

Thank you for your interest in *illacceptanything* and helping others learn how to make their first contributions to open source!

That said, funny contributions are part of the the core values of *illacceptanything* (which predates Hacktoberfest); and every october this repo gets flooded with trivial pull-requests from people who want to get a free t-shirt.
So we kindly asked you (see ema

[2020-10-24 13:05] ProgVal opened #1012 "test"

[2021-04-01 08:49] khush-123 opened #1023 "data set for software evolution in open source software"
can someone please guide me about how to get data set of software evolution in OSS

[2021-04-01 10:26] ProgVal commented on #1023
wrong repo?

[2021-06-02 13:10] crxssed7 commented on #1023
what if it isnt 🤔

[2021-09-06 10:25] Aeolun opened #1030 "Need more rust"
I don’t see Rust represented anywhere in this repositories languages. There should be at least one component that uses it, but much better would be if we rewrite all the already functional parts in Rust.

It’s faster.

[2021-11-22 11:17] imshashank commented on #1012
test

[2021-12-01 01:59] AcaiBerii commented on #1030
no nemerle, c#, vb.net either!!!!!! 😡😡😠👿🤬🤬🤬🤬

[2021-12-01 02:49] chuigda commented on #1030
_Technically, Rust does not function good as some functional language. Lacking TCO and unlimited extent making it awkward to use certain functional tricks._

[2022-01-23 03:08] bakabakabakabakabaka opened #1041 "on god?"
is this dababy?

[2022-02-20 08:02] Butter99999 opened #1045 "Hello,"
Hello,

Thank you for your interest in *illacceptanything* and helping others learn how to make their first contributions to open source!

That said, funny contributions are part of the the core values of *illacceptanything* (which predates Hacktoberfest); and every october this repo gets flooded with trivial pull-requests from people who want to get a free t-shirt.
So we kindly asked you (see ema

[2022-02-20 08:07] #1045 closed

[2022-03-14 20:34] inventhouse commented on #916
1:24,000 is a good scale 🗺

[2022-04-01 22:24] lok23 opened #1052 "I love my mom"
Thanks mom

You suck, dad

[2022-04-08 19:53] dmadisetti opened #1054 "Testing comment on new issue"
I wonder how the bee movie script goes...

[2022-04-08 19:55] dmadisetti commented on #1054
https://github.com/illacceptanything/illacceptanything/actions/runs/2117258627

Oh well.. I tried

[2022-04-08 19:55] #1054 closed

[2022-06-24 04:14] Ruzie commented on #1030
No, Rust ain't fast, at least not really from C/C++. It's like juice with LLVM backend, and where Rust compiler takes decades to compile a single program. I hate that how funking slow Rust compiler is. I don't need memory safety, and that should be in my control what I can do with memory, I don't need their "safe" code, as `unsafe` exist.

There's only one benefit is Rust compiler and LLVM does a